<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    
    <ion-row>
    Criterio de búsqueda:
    </ion-row>

    <ion-row>
    
    <ion-item  detail="true" >
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <p>Duoc Plaza Norte | San Pedro 362 Quilicura <ion-icon name="people-outline"></ion-icon> 2 </p>
        </ion-label>
    </ion-item>
  </ion-row>

  <ion-row>
    <h4>Resultados encontrados para </h4>
  </ion-row>
  
<p *ngIf="!rutas">No se han encontrado rutas</p>
  <ion-row  *ngFor="let ruta of rutas">
  
    <ion-accordion-group>
      
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-avatar slot="start">
            <img alt="Ver perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label class="ion-text-wrap">{{ ruta.precio }} | {{ ruta.origen }} | {{ ruta.destino}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <h3>Conductor: {{ ruta.conductor }}</h3>
          <h3>Vehículo: {{ ruta.vehiculo }}</h3>
          <h3>Patente: {{ ruta.patente }}</h3>
          <h3>Origen: {{ ruta.origen }}</h3>
          <h3>Destino: {{ ruta.destino }}</h3>
          <h3>Asientos disponibles: {{ ruta.asientos }}</h3>
          <h3>Precio: {{ ruta.precio }}</h3>
          <h3>Calificación: <ion-icon name="star-sharp"></ion-icon><ion-icon name="star-sharp"></ion-icon><ion-icon name="star-sharp"></ion-icon><ion-icon name="star-half-sharp"></ion-icon></h3>
          <ion-button fill="outline" (click)="MakeMacth(ruta)">Confirmar</ion-button>
        </div>
      </ion-accordion>
    
    
    </ion-accordion-group>
  </ion-row>
 


    </ion-grid>
 
  
    

</ion-content>
