ion-item{
    
    color: #912D91;
    border-color: #912D91;
    
}
ion-header{
    text-align: center;

    
}

.menu{
    position: absolute;
    right: 10px;
    color:#912D91;
}

ion-title{
    color: #912D91;
}
