
<ion-content>


  <form [formGroup]="formLogin">
    <ion-grid>
  
      <ion-row>
        <ion-col>
        <img  src="assets/images/logo.png" />
      </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" placeholder="Ingrese su usuario" formControlName="usuario" [(ngModel)]="interpolacion.nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="Ingrese su contraseña" formControlName="contrasena" [(ngModel)]="interpolacion.clave"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
   
            <ion-button   expand="block" (click)=" LoginUsuario()">Ingresar</ion-button>
      
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </form>
  </ion-content>
  