<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Busca rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <form [formGroup]="formBuscar"> -->
  <ion-card>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-searchbar search-icon="location-outline" placeholder="Donde me recogen"
            [(ngModel)]="interpolacion.origen"></ion-searchbar>
        </ion-col>
      </ion-row>

    
      <ion-row>
        <ion-col>
          <ion-searchbar search-icon="location-outline" placeholder="A donde voy" [(ngModel)]="interpolacion.destino">
          </ion-searchbar>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="9">
          <ion-item>
            <ion-icon name="people-outline" color="primary"></ion-icon>
            <ion-input type="number" placeholder=" Cantidad pasajeros" max="6" min="1"
              [(ngModel)]="interpolacion.pasajeros"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>

          <ion-button color="primary" expand="block" (click)="buscarRutas()">Buscar</ion-button>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

  

    
    <ion-row>
    Criterio de búsqueda:
    </ion-row>

    <ion-row>
    
    <ion-item  detail="true" >
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <p>{{interpolacion.origen}} | {{interpolacion.destino}} <ion-icon name="people-outline"></ion-icon> {{ interpolacion.pasajeros }} </p>
        </ion-label>
    </ion-item>
  </ion-row>

  <ion-row>
    <h4>Resultados encontrados </h4>
  </ion-row>
  
<p *ngIf="!rutas">No se han encontrado rutas</p>
<ng-container *ngIf="rutas">
  <ion-row  *ngFor="let ruta of rutas">
  
    <ion-accordion-group>
      
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-avatar slot="start">
            <img alt="Ver perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label class="ion-text-wrap">{{ ruta.precio }} | {{ ruta.origen }} | {{ ruta.destino}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <h2>Conductor: {{ ruta.nombre }}</h2>
          <h2>Marca: {{ ruta.marca }}</h2>
          <h2>Patente: {{ ruta.patente }}</h2>
          <h2>Origen: {{ ruta.origen }}</h2>
          <h2>Destino: {{ ruta.destino }}</h2>
          <h2>Asientos disponibles: {{ ruta.asientos }}</h2>
          <h2>Precio: {{ ruta.precio }}</h2>
          <ion-button fill="outline" (click)="confirmarRuta(ruta.origen,ruta.destino,ruta.asientos,1,'Pasajero',ruta.precio,ruta.idUsuario,ruta.patente,ruta.marca,ruta.nombre)">Confirmar</ion-button>
        </div>
      </ion-accordion>
    
    
    </ion-accordion-group>
  </ion-row> 
</ng-container>





  <!-- <ion-grid class="historial">

    <h4>Historial de búsqueda</h4>

    <ion-item button detail="true" *ngFor="let historial of historial" (click)="buscarRutas()">
      <ion-icon name="map-outline" slot="start" color="primary"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h3>{{ historial.origen }} | {{ historial.destino}} <ion-icon name="people-outline"></ion-icon> {{
          historial.pasajeros}}</h3>
      </ion-label>
    </ion-item>
  </ion-grid> -->


</ion-content>