ion-header{
    text-align: center;
    
}

ion-title{
    color: #912D91;
}

.dp{
    
    text-align: center;
    
}

ion-content{
    --ion-background-color:#ffffff;  
    width: calc(100% + 20px);
    margin-top: 0px;
}