<ion-header>
  <ion-toolbar>
    <ion-title>Publicar rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">



  <app-banner src="banner.png"></app-banner>


  <!-- <form [formGroup]="formBuscar"> -->
  <ion-card>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-searchbar search-icon="location-outline" placeholder="Lugar de partida"
            [(ngModel)]="interpolacion.origen"></ion-searchbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-searchbar search-icon="location-outline" placeholder="Lugar de destino"
            [(ngModel)]="interpolacion.destino"></ion-searchbar>
        </ion-col>
      </ion-row>

      <ion-row>

        
        <ion-col >
          <ion-item>
            <ion-icon name="people-outline"></ion-icon>
            <ion-input type="number" placeholder="   Asientos disponibles" max="6" min="1"
              [(ngModel)]="interpolacion.asientos"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>

        
        <ion-col >
          <ion-item>
            <ion-icon name="people-outline"></ion-icon>
            <ion-input type="number" placeholder="Precio" 
              [(ngModel)]="interpolacion.precio"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder="" value="{{ this.marca }}" disabled="true"></ion-input>
          marca 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input type="text" value="{{ this.patente }}" disabled="true"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-button color="primary" expand="block" (click)="publicarRutas()">Publicar</ion-button>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>





</ion-content>