ion-header{
    text-align: center;
    
}


ion-content{
    --ion-background-color:#ffffff;  
    width: calc(100% + 20px);
    margin-top: 0px;
}

ion-title{
    color: #912D91;
}

h4{
    color:#912D91;
    text-shadow: #912D91;
    
}

ion-item-divider{
    background-color: #3B3532;
    color: white;
    
}