<ion-header>
  <ion-toolbar>
    <ion-title>Mis viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <app-banner src="banner.png"></app-banner>

  <ion-row>
    <ion-col size="12">


      <ion-accordion-group>
        <ion-accordion value="proximos">
          <ion-item slot="header" color="primary">
            <ion-label>Próximos</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">


            <ion-grid>

              <ion-row>
                <h4>Planifica tus viajes</h4>
              </ion-row>

              <ion-row *ngFor="let rutas of users">
                <ion-accordion-group>

                  <ion-accordion value="first">
                    <ion-item slot="header" color="light">
                      <ion-avatar slot="start">
                        <img alt="Ver perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                      </ion-avatar>
                      <ion-label class="ion-text-wrap">{{ rutas.tipoUsuario }} | {{ rutas.origen }} | {{ rutas.destino}}
                      </ion-label>
                    </ion-item>

                    <div class="ion-padding" slot="content">
                      <ion-list>
                        <ion-item-divider>
                          <ion-label>
                            Datos del viaje
                          </ion-label>
                        </ion-item-divider>

                        <ion-item>
                          <ion-label>Origen: {{ rutas.origen }}</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-label>Destino: {{ rutas.destino }}</ion-label>
                        </ion-item>
                        <!-- <ion-item>
                      <ion-label>Vehículo: {{ rutas.vehiculo }}</ion-label>
                    </ion-item> -->
                        <!-- <ion-item>
                      <ion-label>Patente: {{ rutas.patente }}</ion-label>
                    </ion-item> -->

                        <ion-item>
                          <ion-label>Asientos disponibles: {{ rutas.asientos }}</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-label>Precio: {{ rutas.precio }}</ion-label>
                        </ion-item>

                        <!-- <ion-item-divider >
                      <ion-label *ngIf="rutas.tipo_viaje=='Pasajero'">
                        Datos del Conductor
                      </ion-label>
                      <ion-label *ngIf="rutas.tipo_viaje=='Conductor'">
                        Datos del Pasajero
                      </ion-label>
                    </ion-item-divider>
                    <ion-item *ngIf="rutas.tipo_viaje=='Conductor'">
                      <ion-label>Nombre: {{ rutas.pasajero }}</ion-label>
                    </ion-item>
                    <ion-item *ngIf="rutas.tipo_viaje=='Pasajero'">
                      <ion-label>Nombre: {{ rutas.conductor }}</ion-label>
                    </ion-item> -->

                      </ion-list>
                      <ion-button expand="full">Finalizar viaje</ion-button>
                    </div>

                  </ion-accordion>




                </ion-accordion-group>

              </ion-row>


            </ion-grid>

          </div>
        </ion-accordion>


      </ion-accordion-group>

    </ion-col>


  </ion-row>
</ion-content>