<ion-header>
  <ion-toolbar>
    <ion-title>Mis viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <app-banner src="banner.png"></app-banner>

  <ion-row>
    <ion-col size="12">


      <ion-accordion-group [value]="['proximos']">

        <ion-accordion value="proximos">
          <ion-item slot="header" color="primary">
            <ion-label>Próximos Viajes</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-grid>
              <ion-row>
                <h4>Planifica tus viajes</h4>
              </ion-row>
              
              
              <ion-row *ngFor="let ruta of rutas">
                <ion-col size="12">
                  
                
                <ng-container *ngIf="ruta.estado==1">
                  <ion-accordion-group>

                    <ion-accordion value="first">
                      <ion-item slot="header" color="light">
                        <ion-avatar slot="start">
                          <img alt="Ver perfil" src="assets/images/conductor.png" />
                        </ion-avatar>
                        <!-- <ion-avatar slot="start" *ngIf="ruta.tipoUsuario=='Pasajero'">
                          <img alt="Ver perfil" src="assets/images/pasajero.png" />
                        </ion-avatar> -->
                        <ion-label class="ion-text-wrap"> Ruta | {{ ruta.origen }} | {{ ruta.destino}}
                        </ion-label>
                      </ion-item>

                      <div class="ion-padding" slot="content">
                        <ion-list>
                          <ion-item-divider>
                            <ion-label>
                              Datos de la Ruta
                            </ion-label>
                          </ion-item-divider>

                          <ion-item>
                            <ion-label>Origen: {{ ruta.origen }}</ion-label>
                          </ion-item>
                          <ion-item>
                            <ion-label>Destino: {{ ruta.destino }}</ion-label>
                          </ion-item>

                          <ion-item>
                            <ion-label> Auto: {{ ruta.marca }} | {{ ruta.patente }}</ion-label>
                          </ion-item>
                          
                          <ion-item>
                            <ion-label>Asientos Ofrecidos: {{ ruta.asientos_ofrecidos }}</ion-label>
                          </ion-item>

                          <ion-item>
                            <ion-label>Asientos Disponibles: {{ ruta.asientos_disponibles }}</ion-label>
                          </ion-item>
                          
                          <ion-item>
                            <ion-label>Precio: {{ ruta.precio }}</ion-label>
                          </ion-item>
                          
                          <ion-item>
                            <ion-label>Pasajeros: Sin pasajeros confirmados</ion-label>
                          </ion-item>

                        </ion-list>
                        <ion-button expand="full" (click)="finalizarViaje(ruta.id)">Finalizar viaje</ion-button>
                      </div>

                    </ion-accordion>


                  </ion-accordion-group>
                </ng-container>
              </ion-col>
              </ion-row>

              <ion-row *ngFor="let viaje of viajes">
                <ion-col size="12">
                  
                  <!-- *ngIf="viaje.estado==0" -->
                <ng-container>
                  <ion-accordion-group>

                    <ion-accordion value="first">
                      <ion-item slot="header" color="light">
                        
                         <ion-avatar slot="start">
                          <img alt="Ver perfil" src="assets/images/pasajero.png" />
                        </ion-avatar> 
                        <ion-label class="ion-text-wrap"> Viaje | {{ viaje.origen }} | {{ viaje.destino}}
                        </ion-label>
                      </ion-item>

                      <div class="ion-padding" slot="content">
                        <ion-list>
                          <ion-item-divider>
                            <ion-label>
                              Datos del Viaje
                            </ion-label>
                          </ion-item-divider>

                          <ion-item>
                            <ion-label>Conductor: {{ viaje.nombre }}</ion-label>
                          </ion-item>
                          <ion-item>
                            <ion-label>Origen: {{ viaje.origen }}</ion-label>
                          </ion-item>
                          <ion-item>
                            <ion-label>Destino: {{ viaje.destino }}</ion-label>
                          </ion-item>

                          <ion-item>
                            <ion-label>Auto: {{ viaje.marca }} | {{ viaje.patente }}</ion-label>
                          </ion-item>
                          
                          <ion-item>
                            <ion-label>Precio: {{ viaje.precio }}</ion-label>
                          </ion-item>
                          

                        </ion-list>
                        <ion-button expand="full" (click)="finalizarViaje(viaje.id_ruta)">Finalizar viaje</ion-button>
                      </div>

                    </ion-accordion>


                  </ion-accordion-group>
                </ng-container>
              </ion-col>
              </ion-row>

            </ion-grid>
          </div>
        </ion-accordion>

        <ion-accordion value="realizados">
          <ion-item slot="header" color="primary">
            <ion-label>Viajes Realizados</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-grid>
              <ion-row>
                <h4>Revisa el detalle de tus viajes</h4>
              </ion-row>

              <ion-row *ngFor="let viaje of viajes">
                <ion-col size="12">
                  
                  <!-- *ngIf="viaje.estado==0" -->
                <ng-container >
                  <ion-accordion-group>

                    <ion-accordion value="first">
                      <ion-item slot="header" color="light">
                        
                         <ion-avatar slot="start">
                          <img alt="Ver perfil" src="assets/images/pasajero.png" />
                        </ion-avatar> 
                        <ion-label class="ion-text-wrap"> Viaje | {{ viaje.origen }} | {{ viaje.destino}}
                        </ion-label>
                      </ion-item>

                      <div class="ion-padding" slot="content">
                        <ion-list>
                          <ion-item-divider>
                            <ion-label>
                              Datos del Viaje
                            </ion-label>
                          </ion-item-divider>

                          <ion-item>
                            <ion-label>Conductor: {{ viaje.nombre }}</ion-label>
                          </ion-item>
                          <ion-item>
                            <ion-label>Origen: {{ viaje.origen }}</ion-label>
                          </ion-item>
                          <ion-item>
                            <ion-label>Destino: {{ viaje.destino }}</ion-label>
                          </ion-item>

                          <ion-item>
                            <ion-label>Auto: {{ viaje.marca }} | {{ viaje.patente }}</ion-label>
                          </ion-item>
                          
                          <ion-item>
                            <ion-label>Precio: {{ viaje.precio }}</ion-label>
                          </ion-item>
                          

                        </ion-list>
                        <ion-button expand="full" (click)="finalizarViaje(viaje.id_ruta)">Finalizar viaje</ion-button>
                      </div>

                    </ion-accordion>


                  </ion-accordion-group>
                </ng-container>
              </ion-col>
              </ion-row>

            </ion-grid>
          </div>
        </ion-accordion>

      </ion-accordion-group>
    </ion-col>


  </ion-row>
</ion-content>